.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.section__bottom {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 66px);
}
.cell {
	width: 66px;
	height: 66px;
	border: 1px solid gainsboro;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
	color: #333;
}
